.featured{
    width:100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 1;
}

.featuredImg{
    width:100%;
    object-fit: cover;
    height:250px;
}

.featuredItem{
    position:relative;
    color:white;
    border-radius: 10px;
    overflow:hidden;
    height: 250px;
    flex:1;
}

.featuredTitles{
    position:absolute;
    top: 10px;
    left: 20px;
}