.navbar{
    height: 50px;
    background-color:beige;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    background-color: beige;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 1000;
}

.navButton{
    margin-left: 20px;
    border:none;
    padding:5px 10px; /** 5 pixels top n bottom 10px left and right**/
    cursor:pointer; /**shows that element is interactive and can be clicked **/
    color:white;
    background-color: darkcyan;
}